[submodule "third_party/hip_chat"]
	path = third_party/hip_chat
	url = git://github.com/mitnworb/helpspot-2-hipchat-push.git
[submodule "third_party/helpifier"]
	path = third_party/helpifier
	url = git://github.com/Figure53/Helpifier.git
[submodule "third_party/api_python"]
	path = third_party/api_python
	url = git://github.com/JohnSpeno/python-helpspot.git
[submodule "third_party/js_custom_widget"]
	path = third_party/js_custom_widget
	url = https://github.com/plasticbrain/HelpSpot-Custom-Widget-1.0
[submodule "third_party/api_ruby"]
	path = third_party/api_ruby
	url = https://github.com/jbrw/help_spot
[submodule "third_party/campfire_bot"]
	path = third_party/campfire_bot
	url = https://github.com/abachman/pat-the-campfire-bot
[submodule "third_party/textanywhere_sms"]
	path = third_party/textanywhere_sms
	url = https://github.com/kamazoy/HelpSpot-TextAnywhere-SMS-gateway.git
