[submodule "third_party/hip_chat"]
	path = third_party/hip_chat
	url = git://github.com/mitnworb/helpspot-2-hipchat-push.git
[submodule "third_party/helpifier"]
	path = third_party/helpifier
	url = git://github.com/Figure53/Helpifier.git
[submodule "third_party/api_python"]
	path = third_party/api_python
	url = git://github.com/JohnSpeno/python-helpspot.git
